<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySignLanguege"
        tools:targetApi="31">
        <activity
            android:name=".screens.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".adapters.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UpdateUserDetails"
            android:exported="false" />
        <activity
            android:name=".screens.InterestedBusinessesActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ShowBusinessForUser"
            android:exported="false" />
        <activity
            android:name=".screens.AllBusiness"
            android:exported="false" />
        <activity
            android:name=".screens.ShowUsers"
            android:exported="false" />
        <activity
            android:name=".screens.AfterLogin"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPage"
            android:exported="false" />
        <activity
            android:name=".screens.AddBusiness"
            android:exported="false" />
        <activity
            android:name=".Business"
            android:exported="false" />
        <activity
            android:name=".screens.UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".screens.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>